/* $Id: constants.css 2011-04-26 11:18:13 mirlan $ */
@constants
{
  theme_topbar_width: 100%;
  theme_topbar_minimenu_width: 100%;
  theme_topbar_menu_width: 100%;
  theme_footer_width: 100%;
  theme_content_width: 100%;
  theme_body_background_color: #262c36;

  theme_topbar_background_color: #262c36;
  theme_topbar_menu_background_color: #266da5;
  theme_topbar_menu_background_color_selected: transparent;
  theme_topbar_menu_link_color: #fff;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_size: 1em;
  theme_topbar_menu_link_background_color: transparent;
  theme_topbar_menu_border: none;
  theme_topbar_minimenu_background_color: transparent;
  theme_topbar_minimenu_border: none;
  theme_topbar_border: 0px solid transparent;

  theme_font_family: arial, verdana, sans-serif;
  theme_font_size: inherit;
  theme_font_color: #ddd;
  theme_font_color_light: #aaa;
  theme_text_align: left;
  theme_link_color: #4587C0;
  theme_link_decoration: none;
  theme_headline_color: #ffffff;
  theme_headline_size_large: 1.3em;
  theme_headline_size_medium: 1.1em;
  theme_layout_header_font_size: 1em;

  theme_border_color: #333743;
  theme_border_medium_color: #333743;
  theme_border_dark_color: #333743;
  theme_active_color:#3b424e;

  theme_foreground_border_color: transparent;
  theme_foreground_border_color_light: #4c525b;
  theme_foreground_background_color: #3b424e;

  theme_input_background_color: #5e6f7e;
  theme_input_font_color: #fff;
  theme_input_border_colors: #2B313D;
  theme_button_background_color: #3e82b1;
  theme_button_font_color: #fff;
  theme_button_border_color: none;

  theme_photo_border_color: #1c1f25;
  theme_form_border_color: transparent;
  theme_form_background_color: #3b424e;
  theme_form_label_font_color: #ddd;


  /*MINE*/
  theme_widget_bg_color: #3b424e;
  theme_widget_tl_color: #ddd;
	theme_widget_bd_color: #262c36;

  theme_shadow_dark_color: #161a20;
  theme_shadow_light_color: #aaa;

	theme_navigation_bg_color: #266da5;
	theme_navigation_border: none;
	theme_navigation_font_color: #fff;
  theme_navigation_background_color:#266da5;

	theme_photo_box_background_color: #000;
	theme_photo_box_header_font_color: #fff;
	theme_photo_box_header_font_size: .9em;

	theme_notifications_active_color: #fff;
	theme_unread_background_color: #3b424e;
  theme_buttontabs_font_color_active: #fff;
  theme_buttontabs_background_color_active: #55677a;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color: #262c36;
  theme_list_background_color_alt: #424B55;
  theme_list_background_color_hover: #3F4857;
}

img.thumb_normal
{
  max-width: 60px;
	max-height: 70px;
}

img.thumb_profile{
	max-width: 80px;
	max-height: 160px;
}

img.thumb_icon{
  width: 48px;
  height: 48px;
}

img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon{
  border: 1px solid $theme_photo_border_color;
}


/* Gives an element a background and/or border */
=foreground{
  background-color: $theme_foreground_background_color;
  border: 1px solid $theme_foreground_border_color;
}

/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa"){
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 3px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if($hidecorner1 == true)
  {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-radius-topleft: 0px;
  }
  @if($hidecorner2 == true)
  {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-radius-topright: 0px;
  }
  @if($hidecorner3 == true)
  {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-radius-bottomright: 0px;
  }
  @if($hidecorner4 == true)
  {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-radius-bottomleft: 0px;
  }
}