/*html #core_menu_mini_menu #global_search_field::-webkit-input-placeholder{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}*/


body .search_result .highlighted-text
{
  font-size: 14px;
}

.as_global_search_option {
  font-size: 12px;
}
i.hei.hei-clock-o {
  padding-right: 5px;
}
.padding_button_and_link{
  z-index: 99;
  position: absolute;
  padding-left: 87%;
}


a#link_item{
  display: block!important;
}

.as_global_search_option {
    padding: 0 0 0 17px;
}
.category_items_search {
    background-color: $theme_tabs_background_color;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    padding-left: 6px;
    padding-top: 4px;
    text-align: left;
}
.count_item {
    float: right;
    padding-right: 5px;
}

.cat_item {
    float: left;
    margin: 0;
    padding: 0;
    width: 282px !important;
}

.as_query_input {
    width: 200px !important;
    display: inline;
    padding: 5px 50px 5px 6px !important;
}
.as_default_search_type {
    color: #999999;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 22px;
    left: 4px;
    line-height: 22px;
    position: relative;
    top: 25px;
    margin-right: 3px;
    float: left;
}
.advancedsearch_types_list {
    position: relative;
    color: $theme_tabs_font_color_active;
    background: $theme_tabs_background_color_active;
    box-shadow: 0 2px 3px rgba(22, 24, 27, 0.35);
    width: 403px;
    z-index: 101;
    top: -53px;
}
.advancedsearch_types_list span i, .as_default_search_type i {
  font-size: 18px;
  margin-right: 9px;
  text-align: center;
  width: 22px;
  vertical-align: middle;
}
.as_type_container,.as_type_global_container {
    display: block;
    width: auto;
    cursor: pointer;
}
.advancedsearch_types_list span {
    display: block;
    float: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 0 7px 8px;
    text-decoration: none;
    text-transform: none;
    height: 22px;
    line-height: 22px;
     width: 97%;
}
.as_type_container.active, .as_type_container:hover, .as_type_global_container.active, .as_type_global_container:hover, .as_global_search_result.active, .as_global_found_more.active
{
   /* background: none repeat scroll 0 0 #EEEEEE;*/
    color: $theme_tabs_font_color_active;
    background: $theme_tabs_background_color_active;

}
.advancedsearch_types_list span:first-letter {
    text-transform: capitalize;
}
#as_found_items {
    margin-top: 15px;
}
.as_search_result {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin: 10px 8px;
    text-align: center;
    width: auto;
}
.as_search_photo {
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

.as_search_photo img {
    display: inline;
    max-width: none;
    vertical-align: middle;
    border: none;
    width: 200px;
}
.as_search_info {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
    text-align: center;
}
.as_search_info p {
    color: #666666;
}


#as_global_default_icon {
    font-size: 20px;
    left: 29px;
    position: relative;
    top: 2px;
    color: #999999;
}
#advancedsearch_global_types_list {
    display: none;
}
.as_global_search_result {
    padding: 5px;
}
.as_global_search_result:first-child {
    margin-top: 0px !important;
    width: 132px;
}
.as_global_search_result:hover {
    color: #000000;
    background: lightgray;
}
.as_global_search_result span {
    font-size: 12px;
    float: none;
    display: inline;
}
.as_global_search_info {
    float: left;
    margin-left: 5px;
}
/*--------------------*/
.as_global_search_photo {
    float: left;
}
.as_global_search_photo img {
    width: 48px;
}
#as_global_found_items {
    overflow: hidden;
    position: relative;
    top: -52px;
}

.as_global_found_more {
    text-align: center;
    color: black;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
a.as_global_found_more_link {
    text-decoration: none;
}
.as_global_found_more:hover {
    background: lightgray;
}


/************************Tabs Search**********************************/



a#join_as_button {
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 16px;
  background-color: #2F91CF;
  border: 1px solid #2F91CF;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.3);
  background-repeat: repeat-x;
}


#container_for_search {
max-width: 980px;
margin: 0 auto;
padding: 0px 108px 0px 0px;
}

.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;

}

section#content1 {
  padding: 15px;
  background: $theme_tabs_background_color_active;
  min-height: 600px;
}

input#tab1 {
  display: none !important;
}

#a {
  display: inline-block !important;
  font-weight: 600;
  text-align: center;
  border-radius: 3px 3px 0 0;
  float: left !important;
  padding-left: 2px;

}

label.a_dropdown:hover {
  color:  color: $theme_tabs_font_color_active;
  cursor: pointer;
  float: left;
}

input.a_dropdown:checked + label {
  color: #555;
}

#tab1:checked ~ #content1{
  float: left;
  display: none;
}

.infoitem {
  padding-top: 10px;
  float: left;
  padding-left: 220px;
}

.images{
  border: 1px solid;
  padding-right: 10px;
  width: 100%;
}
.image_position{
  float: left;
}

a#myTabDrop1 {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  text-align: center;
  color: #555;
  border-radius: 3px 3px 0 0;
  float: left !important;
  padding: 11px 25px;
  text-decoration: none;
  border: none;

}

ul#dropdown {
  max-height: 500px;
  position: absolute;
  z-index: 101;
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
}

label.a_dropdown {

  font-weight: 600;
  text-align: center;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}

p.search_description2 {
font-size: 13px;
}
.menu_tabs_search{
  margin: -1px;
}
.search_result{
  width: 97% !important;
}



.advancedsearch_global_block{
  display: none !important;
}


html #core_menu_mini_menu #global_search_field {
  width: 400px;
}
.width_search{
  width: 120px !important;
}
.mini_search{
  display: none;
}


.as_type_global_container_search.active, .as_type_global_container_search:hover
{
   /* background: none repeat scroll 0 0 #EEEEEE;*/
  color: #464646;
  background: #EEE;
}

.as_type_global_container_search.active {
color: #464646;
background: #EEE;
}

#global_search_field::-webkit-input-placeholder {
font-size: 13px;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 8px 5px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a.btn.wp_init {
  color: #ffffff;
}



.layout_active_theme_minimal .as_more_button {
  text-align: center;
  display: block;
  width: 88% !important;
  padding-left: 77px !important;
}
.as_more_button span {
    display: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default!important;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin: 2px 4px;
    min-width: 54px;
    padding: 2px 45px;
    text-align: center;
    box-shadow: 0 0 1px gray;
    -webkit-transition: all 0.218s,visibility 0s;
    transition: all 0.218s,visibility 0s;
    -webkit-user-select: none;
    background: $theme_tabs_background_color_active;
}

/*---------------------*/
.as_more_button span:hover {
    background: #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.0s;
    transition: all 0.0s;
}






.as_more_button{
  text-align: center;
  display: block;
  width: 76%;
  padding-left: 153px;
}

.event_btn{
  z-index: 99;
  position: absolute;
  padding-left: 41%;
}

#as_global_found_items {
  overflow: hidden;
  position: relative;
  top: -37px;
}

.searchicon{
  left: 400px !important;
  top: -31px;
}
#searchicon{
  left: 121px;
  position: relative;
  padding: 11px 0;
  z-index: 100;
  top: -32px;
}



.advancedsearch_types_list{
  top: -37px;
}




img#as_global_loading {
  top: -20px !important;
  left: 419px;
}



.he-nav-tabs{
  border-bottom: none !important;
  margin-bottom: -13px;
}

.layout_active_theme_minimal img#as_global_loading {
  top: -31px !important;
  left: 398px;
}
.layout_active_theme_minimal .advancedsearch_types_list{
  top: -52px !important;
  width: 381px!important;
}


.layout_active_theme_minimal #searchicon {
  left: 125px;
  top: -44px !important;;
}
.layout_active_theme_minimal .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_minimal .as_more_button{
  width: 88% !important;
  padding-left: 79px !important;
}

/*****************************************/
.layout_active_theme_modern img#as_global_loading {
  top: -21px !important;
  left: 398px;
}
.layout_active_theme_modern .advancedsearch_types_list{
  top: -38px !important;
  width: 381px!important;
}


.layout_active_theme_modern #searchicon {
  left: 125px;
  top: -32px !important;;
}
.layout_active_theme_modern .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_modern .as_more_button{
  width: 88% !important;
  padding-left: 79px !important;
}

/****************************************/


.layout_active_theme_kandy-cappuccino img#as_global_loading {
  top: -34px !important;
  left: 398px;
}
.layout_active_theme_kandy-cappuccino .advancedsearch_types_list{
  top: 0px !important;
  width: 381px!important;
}


.layout_active_theme_kandy-cappuccino #searchicon {
  left: 125px;
  top: -32px !important;
  display: none;
}
.layout_active_theme_kandy-cappuccino .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_kandy-cappuccino .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}
/*******************************************************/

.layout_active_theme_kandy-mangoberry img#as_global_loading {
  top: -34px !important;
  left: 398px;
}
.layout_active_theme_kandy-mangoberry .advancedsearch_types_list{
  top: 0px !important;
  width: 381px!important;
}


.layout_active_theme_kandy-mangoberry #searchicon {
  left: 125px;
  top: -32px !important;
  display: none;
}
.layout_active_theme_kandy-mangoberry .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_kandy-mangoberry .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}
/***************************************************************/
.layout_active_theme_kandy-limeorange img#as_global_loading {
  top: -34px !important;
  left: 398px;
}
.layout_active_theme_kandy-limeorange .advancedsearch_types_list{
  top: 0px !important;
  width: 381px!important;
}


.layout_active_theme_kandy-limeorange #searchicon {
  left: 125px;
  top: -32px !important;
  display: none;
}
.layout_active_theme_kandy-limeorange .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_kandy-limeorange .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}
/****************************************************************/
.layout_active_theme_kandy-watermelon img#as_global_loading {
  top: -34px !important;
  left: 398px;
}
.layout_active_theme_kandy-watermelon .advancedsearch_types_list{
  top: 0px !important;
  width: 381px!important;
}


.layout_active_theme_kandy-watermelon #searchicon {
  left: 125px;
  top: -32px !important;
  display: none;
}
.layout_active_theme_kandy-watermelon .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_kandy-watermelon .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}


/*****************************************************************/
.layout_active_theme_quantum-beige img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-beige .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-beige #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-beige .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-beige .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

/*****************************************************************/
.layout_active_theme_quantum-gray img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-gray .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-gray #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-gray .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-gray .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}


/*****************************************************************/
.layout_active_theme_quantum-orange img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-orange .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-orange #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-orange .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-orange .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

/*****************************************************************/
.layout_active_theme_quantum-purple img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-purple .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-purple #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-purple .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-purple .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

/*****************************************************************/
.layout_active_theme_quantum-blue img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-blue .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-blue #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-blue .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-blue .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

/*****************************************************************/
.layout_active_theme_quantum-green img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-green .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-green #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-green .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-green .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}


/*****************************************************************/
.layout_active_theme_quantum-pink img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-pink .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-pink #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-pink .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-pink .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

/*****************************************************************/
.layout_active_theme_quantum-red img#as_global_loading {
  top: -31px !important;
  left: 429px;
}
.layout_active_theme_quantum-red .advancedsearch_types_list{
  top: -60px !important;
  width: 381px!important;
}


.layout_active_theme_quantum-red #searchicon {
  left: 123px;
  top: -46px !important;
}
.layout_active_theme_quantum-red .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_quantum-red .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

/*****************************************************************/
.layout_active_theme_snowbot img#as_global_loading {
  top: -23px !important;
  left: 432px;
}
.layout_active_theme_snowbot .advancedsearch_types_list{
  top: 2px !important;
  width: 408px!important;
  left: 9px;
}

.layout_active_theme_snowbot #searchicon {
  left: 123px;
  top: -46px !important;
  display: none;
}
.layout_active_theme_snowbot .searchicon {
  left: 403px !important;
  top: -47px !important;
}
.layout_active_theme_snowbot .as_more_button{
  width: 88% !important;
  padding-left: 103px !important;
}

#browsemembers_results{
  min-height: 500px;
}


/***********************************************/
.layout_active_theme_minimal-blue img#as_global_loading {
  top: -31px !important;
  left: 398px;
}
.layout_active_theme_minimal-blue .advancedsearch_types_list{
  top: -52px !important;
  width: 381px!important;
}


.layout_active_theme_minimal-blue #searchicon {
  left: 125px;
  top: -44px !important;;
}
.layout_active_theme_minimal-blue .searchicon {
  left: 376px !important;
  top: -47px !important;
}
.layout_active_theme_minimal-blue .as_more_button{
  width: 88% !important;
  padding-left: 79px !important;
}

span.padding_serch {
padding-left: 2px;
}
.as_default_search_type{
  display: none;
}

