.sub_menu {
    margin: 3px;
    +foreground;
    +rounded;
    padding: 4px;
    font-size: 13px;
}
ul .items > li{
    display: block;
    overflow: hidden;
    padding: 0px;
  float: left;

}
a#sub_menu_active{
  background-color: #55677A;
  color: #FFFFFF;
}