/* $Id: theme.css 2011-04-26 11:18:13 mirlan $ */
@include "constants.css";
@include "~/application/modules/Touch/themes/modules.css";
@scan "application/modules" "externals/styles/touch.css" "Touch";
/*
GLOBAL FORM ELEMENTS
Used for most forms throughout the site.
*/
button, #iPhone-file-button, .button
{
	+rounded;
  padding: 6px 5px;
  border: 1px solid $theme_button_border_color;
  background-image: url(~/application/modules/Touch/themes/slipstream/images/icons/ss_button_bg.png);;
  background-position: 0px 1px;
}
a.buttonlink
{
  font-weight: bold;
}
.tip > span
{
  padding: 6px 6px 6px 27px;
  background-color: #152222;
}
.touch_box {
  margin:5px;
}
.smooth-close{
	+rounded(5px);
	font-size: 0.8em;
}
.layout_middle
{
	overflow: hidden;
  vertical-align: top;
}
.content_global
{
	padding: 3px 0px;
}

#global_content_loading
{
	padding-bottom:15%
}
/*Item List*/
ul.items{
  border: 1px solid $theme_border_color;
}
ul.items > li > .item_body {
  padding-right: 10px;
  overflow: hidden;
}
ul.items > li > .item_body {
	overflow: hidden;
}
/*Navigation Bar*/
.touch-navigation > div{
}
.touch-navigation #navigation-selector{
	+rounded();
	text-shadow: $theme_shadow_dark_color 0.5px 0.5px 0.5px;
	background-color:$theme_navigation_background_color;
	background-image: url(~/application/modules/Touch/themes/slipstream/images/icons/dropdown.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.touch-navigation .navigation-header{
	padding: .3em;
  background: $theme_widget_bg_color;
}
.touch-navigation #navigation-items{
	position:absolute;
}
.touch-navigation #navigation-items{
	+rounded(5px, true, true);
	background-color: $theme_body_background_color;
	border-width: 0px 2px 2px 2px;
	position:absolute;
}
.touch-navigation #navigation-items .item{
	margin: 0px 3px 3px;
}
.touch-navigation-paginator{
	width: 44px;
	padding:1px;
}
#multi-upload li.file
{
  background: #fff;
}
/* Header */
.layout_page_header
{
  background-color: $theme_topbar_background_color;
  padding: 0px;
  border-bottom: $theme_topbar_border;
  background-position: top center;
}
/* Footer */
.layout_page_footer
{
	overflow: hidden;
}
.layout_page_footer .layout_main
{
  +foreground;
  +rounded(6px);
  border: none;
  background: $theme_widget_bg_color;
  margin: 10px auto 0px auto;
  margin-top: 0px;
  padding: 5px;
}
.notifications{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/icons/updates.png);
	color: $theme_notifications_active_color !important;
}

.notifications_active{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/icons/updates_active.png);
}
.layout_touch_rss h3,
.layout_touch_weather h3,
.layout_touch_clock h3,
.layout_touch_list_announcements h3,
.layout_touch_autorecommendations h3,
.layout_touch_user_list_online h3,
.layout_touch_user_list_popular h3,
.layout_touch_user_list_signups h3
{
	text-shadow: #fff 1px 1px 0.5px;
}

/*
MAIN MENU WIDGET
*/
.layout_touch_menu_main
{
  width: $theme_topbar_width;
  margin: 0px auto 0px auto;
  text-align: center;
  background-color: $theme_topbar_menu_background_color;
  border: $theme_topbar_menu_border;
  border-left: none;
  border-right: none;
}
.layout_touch_menu_main > ul > li
{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/topbar_menu_bg.png);
}

.layout_touch_menu_main > ul > li > a
{
	background-color: $theme_topbar_menu_link_background_color;
	padding: .3em;
}

.layout_touch_menu_main ul a:link,
.layout_touch_menu_main ul a:visited
{
	border-right: $theme_topbar_menu_border;
}

.layout_touch_menu_main li.selected
{
  background-color: $theme_topbar_menu_background_color_selected;
	background-image: url(~/application/modules/Touch/themes/slipstream/images/topbar_menu_selected_bg.png);
}
.core_dashboard_home > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/home.png);
}

.core_dashboard_profile > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/profile.png);
}

.core_dashboard_messages > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/messages.png);
}

.core_dashboard_updates > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/updates.png);
}

.core_dashboard_members > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/members.png);
}

.core_dashboard_album > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/album.png);
}

.core_dashboard_blog > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/blog.png);
}

.core_dashbaord_classified > a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/classified.png);
}

.core_dashboard_event a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/event.png);
}
.core_dashboard_group a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/group.png);
}
.core_dashboard_video a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/video.png);
}
.core_dashboard_search a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/search.png);
}
.core_dashboard_page a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/pages.png);
}
.core_dashboard_article a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/article.png);
}

.core_dashboard_music a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/music.png);
}
.core_dashboard_forum a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/forum.png);
}
.core_mini_settings a{
	background-image: url(~/application/modules/Touch/themes/slipstream/images/dashboard/settings.png);
}
ul.form-errors > li,
ul.form-notices > li
{
  +rounded;
  padding: 5px 15px 5px 32px;
  border: 1px solid #ccc;
}

html[dir="rtl"] ul.form-errors > li,
html[dir="rtl"] ul.form-notices > li
{
  padding: 5px 32px 5px 15px;
  background-position: 98% 5px;
  float: right;
  clear: right;
}
ul.form-errors > li > b,
ul.form-notices > li > b
{
  text-transform: uppercase;
  font-size: .8em;
}
ul.form-errors > li > ul > li,
ul.form-notices > li > ul > li
{
  font-size: .9em;
}
ul.form-errors > li {
  background-color: #faf7e9;
}
ul.form-notices > li {
  background-color: #e9faeb;
}
.global_form > div > div
{
  border: 2px solid $theme_form_border_color;
  padding: 10px;
}
/* all text inputs in form */
.global_form input[type=text],
.global_form input[type=password]
{
  font-size: 1.1em;
}
/* all text inputs in form */
.global_form_popup input[type=text],
.global_form_popup input[type=password]
{
  font-size: 1.1em;
}
.global_form_box
{
	+rounded();
  +foreground;
  border-width: 0px;
  padding: 3px;
  width: auto;
  background: $theme_widget_bg_color;
}
.activity-post-container .global_form_box{
  border-width: 6px;
}


.global_form_box > div > div{
	padding: 10px;
}
.global_form_box input[type=text],
.global_form_box input[type=password]
{
  font-size: 1.1em;
}
.search_result .search_title
{
  font-size: 1.1em;
}
.comments > ul
{
  margin:1px;
  padding-bottom:8px;
}
.comments > ul > li
{
  background:url("~/application/modules/Touch/themes/slipstream/images/icons/ss_comment_bg2.png") repeat-x;
  background-color: $theme_widget_bg_color;
  background-position:0px 0px;
  line-height:1.4em;
  padding: 1px 15px 2px 15px;
}
ul.feed > li{
  background:url("~/application/modules/Touch/themes/slipstream/images/icons/ss_feed_divider.png") repeat-x top;
  border-bottom: none;
  padding-top: 10px;
}
/* Player css*/
/*----------------------=: Common Styles :=-----------------------*/
.artist_name, .playlist_title, .audio_title, .audio_description, .duration_time {
  color: $theme_button_font_color;
}
/*----------------------=: End Common Styles :=-----------------------*/

.album_art{
    border-right-color: $theme_widget_bg_color;
    color: $theme_buttontabs_background_color_active;
}

.playlist_info a:link, .playlist_info a:visited{
  color: $theme_button_font_color;
}
.list_item_active .item_icon{
	background-color: $theme_input_background_color;
}
.list_item{
	color: $theme_link_color;
	border-left-color: #424B55;
	border-right-color: #424B55;
  background-color: $theme_border_color;
}
.list_item + .list_item{
	border-top-color: #424B55;
}
.list_item_active {
	background-color: $theme_active_color;
}

.item_icon{
	border-right-color: #424B55;
  background-image: url(~/application/modules/Touch/themes/slipstream/images/player/item_icon1.png);
  background-color: $theme_widget_bg_color;
}

.list_item_active .audio_item_body{
/*
  color: $theme_navigation_font_color;
*/
}
.item_duration{
	border-left-color: #424B55;
}
.item_description{
  color: $theme_font_color_light;
}

.player_controls{
    border-top-color: $theme_widget_bg_color;
  border: none;
}

.contol_main, .playlist_header{
 	border-bottom-color: $theme_widget_bg_color;
  background-image: url(~/application/modules/Touch/modules/Music/externals/images/player/hf_bg.png);
  background-color: $theme_widget_bg_color;
 	background: -moz-linear-gradient(center top , $theme_widget_bg_color, $theme_topbar_menu_background_color) repeat scroll 0 0 $theme_widget_bg_color;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$theme_widget_bg_color),color-stop(1, $theme_topbar_menu_background_color));
  text-shadow: 1px 1px 0.5px $theme_shadow_dark_color;
}

.btn_bar{
    border-right-color: $theme_widget_bg_color;
}

.playing {
  background-image: url(~/application/modules/Touch/themes/slipstream/images/player/pause.png);
  background-color: $theme_link_color;
}
.paused {
  background-image: url(~/application/modules/Touch/themes/slipstream/images/player/play.png);
  background-color: $theme_link_color;
}
.duration_time, .player_pop_in_out_btn{
    border-left-color: $theme_widget_bg_color;
}
.progressbar{
    background-image: url(~/application/modules/Touch/modules/Music/externals/images/player/progb_bg.png);
  background-color: $theme_buttontabs_background_color_active;

  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$theme_buttontabs_background_color_active),color-stop(1,$theme_border_color));
    background: -moz-linear-gradient(center top , $theme_buttontabs_background_color_active, $theme_border_color) repeat scroll 0 0 $theme_buttontabs_background_color_active;
}
.progressbar .progress_value_bar{
    background-image: url(~/application/modules/Touch/modules/Music/externals/images/player/slider_bg.png);
  background-color: #424B55;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#424B55),color-stop(1,$theme_topbar_background_color));
    background: -moz-linear-gradient(center top , #424B55, $theme_topbar_background_color) repeat scroll 0 0 #CFE5F0;
}
.playlist_header .normal{
  background-image: url(~/application/modules/Touch/modules/Music/externals/images/player/popout.png);
}
.playlist_header .pop_out{
  background-image: url(~/application/modules/Touch/modules/Music/externals/images/player/normal.png);
}
.duration_time .volume_control{
  background-color: $theme_widget_bg_color;
}
.duration_time .volume_control .volume_control_decoration1,
.duration_time .volume_control .volume_control_slider_knob{
  border-left-color: $theme_button_font_color;
}
.duration_time .time {
  border-top-color: $theme_buttontabs_background_color_active;
}
.duration_time .volume{
  border-color: $theme_button_font_color;
}
.duration_time .volume div{
  background-color: $theme_button_font_color;
}

/* End Player css*/

/* Tabs */
.touch_tab_group{
  border: 1px solid $theme_border_medium_color;
}
.touch_tab_group .touch_tab_right,
.touch_tab_group .touch_tab_middle,
.touch_tab_group .touch_tab {
  border-color: $theme_border_medium_color;

}
.touch_tab_light {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$theme_widget_bg_color),color-stop(1,$theme_body_background_color));
    background: -moz-linear-gradient(center top , $theme_body_background_color, $theme_widget_bg_color) repeat scroll 0 0 $theme_body_background_color;
}
.touch_tab_dark{
  color: $theme_button_font_color;
  font-weight: bold;
  text-shadow: -0.7px -0.7px $theme_shadow_dark_color;
  background: -moz-linear-gradient(center top , $theme_widget_bg_color, $theme_topbar_menu_background_color) repeat scroll 0 0 $theme_widget_bg_color;
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$theme_widget_bg_color),color-stop(1, $theme_topbar_menu_background_color));
}
