.storebundle-bundle {
  margin-top: 10px;
}
.storebundle-bundle-item img {
  height: 200px;
}
.storebundle-bundle-item {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}
.storebundle-bundle-item-delimiter {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}
.storebundle-bundle-item-text {
  text-align: center;
}
.storebundle-bundle-item-new-price {
  color: #A36363;
}
.storebundle-bundle-item-old-price {
  text-decoration: line-through;
}
#add-bundle-to-cart {
  border: none;
  background: #f4a200;
}
#add-bundle-to-cart:hover {
  border: none;
  background: #e09200;
}